html {
  font-size: 62.5%; }
  html header {
    position: absolute;
    height: 75px;
    z-index: 2;
    width: 100%; }
    html header .logo_l {
      width: 394px;
      height: 40px;
      margin: 12px auto auto 15px; }
    html header .logo_s {
      width: 57.93px;
      height: 25px;
      margin: 21px auto auto 14px;
      display: none; }
    html header .btn-gnavi {
      display: none; }
    html header nav {
      float: right;
      margin-top: 25px; }
      html header nav li {
        float: left;
        font-size: 2rem;
        list-style: none;
        margin-right: 25px; }
        html header nav li a {
          text-decoration: none;
          color: #68833e; }
  html .wrap {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/1853aaf44f70531e12ddef0979b344cd_m.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    background-color: gray;
    position: relative;
    top: 0; }
    html .wrap .container {
      margin-left: 0; }
    html .wrap .home {
      padding-top: 82px; }
      html .wrap .home h1 {
        font-size: 8rem; }
        @media screen and (max-width: 1000gpx) {
          html .wrap .home h1 {
            font-size: 6rem; } }
        html .wrap .home h1 span {
          display: block;
          height: 89px;
          width: 419px;
          margin: 36px auto auto 200px; }
          @media screen and (min-width: 769px) and (max-width: 970px) {
            html .wrap .home h1 span {
              margin-left: 100px; } }
      html .wrap .home h3 {
        font-size: 2.5rem;
        margin: 36px auto auto 193px; }
        @media screen and (min-width: 769px) and (max-width: 970px) {
          html .wrap .home h3 {
            margin-left: 100px; } }
    html .wrap .arrow {
      animation: fluffy 3s linear infinite;
      display: block;
      width: 30px;
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
      html .wrap .arrow .arrow01 {
        display: block;
        width: 25px;
        height: 25px;
        border-top: solid 5px black;
        border-right: solid 5px black;
        -webkit-transform: rotate(45deg);
        transform: rotate(135deg); }

@keyframes fluffy {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(10px); }
  50% {
    transform: translateY(20px); }
  75% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0); } }
  html .video_frame {
    margin-top: 20vh; }
    html .video_frame .video {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100vw;
      height: 70vh; }
      @media screen and (min-width: 780px) {
        html .video_frame .video {
          width: 780px;
          height: 500px; } }
  html footer {
    margin-top: 144.89px;
    height: 450px;
    background-color: #3B4043;
    color: white; }
    html footer .outer {
      padding-top: 46px;
      margin: 0 auto auto auto;
      height: 300px;
      width: 800px; }
      html footer .outer .fb-page {
        display: block;
        width: 361px;
        float: right;
        height: 207px;
        overflow: scroll; }
      html footer .outer nav {
        margin-bottom: 83px;
        display: block;
        float: left; }
        html footer .outer nav li {
          list-style: none;
          font-size: 1.5rem; }
          html footer .outer nav li a {
            text-decoration: none;
            color: white; }
        html footer .outer nav li:nth-of-type(1) {
          height: 21px;
          margin-bottom: 22px; }
        html footer .outer nav li:nth-of-type(2) {
          height: 21px;
          margin-bottom: 25px; }
        html footer .outer nav li:nth-of-type(3) {
          height: 21px; }
    html footer p {
      font-size: 1.8rem;
      margin-top: 81px;
      margin-bottom: 36px;
      text-align: center; }
  @media screen and (max-width: 768px) {
    html header .logo_l {
      display: none; }
    html header .logo_s {
      display: block; }
    html header .btn-gnavi {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 24px;
      z-index: 3;
      box-sizing: border-box;
      cursor: pointer;
      -webkit-transition: all 400ms;
      transition: all 400ms; }
      html header .btn-gnavi span {
        position: absolute;
        width: 30px;
        height: 4px;
        background: #666;
        border-radius: 10px;
        -webkit-transition: all 400ms;
        transition: all 400ms; }
      html header .btn-gnavi span:nth-child(1) {
        top: 0; }
      html header .btn-gnavi span:nth-child(2) {
        top: 10px; }
      html header .btn-gnavi span:nth-child(3) {
        top: 20px; }
    html header .btn-gnavi.btn-open {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
      html header .btn-gnavi.btn-open span {
        background: #fff; }
    html header .btn-gnavi.btn-open span:nth-child(1) {
      width: 24px;
      -webkit-transform: translate(-7px, 17px) rotate(45deg);
      transform: translate(-7px, 17px) rotate(45deg); }
    html header .btn-gnavi.btn-open span:nth-child(3) {
      width: 24px;
      -webkit-transform: translate(-7px, -17px) rotate(-45deg);
      transform: translate(-7px, -17px) rotate(-45deg); }
    html header nav {
      position: absolute;
      padding-top: 40px;
      top: -25px;
      right: -200px;
      width: 200px;
      height: 100vh;
      background: rgba(33, 33, 33, 0.9);
      font-size: 16px;
      box-sizing: border-box;
      z-index: 2; }
      html header nav ul li {
        padding: 20px 5px; }
        html header nav ul li a {
          text-decoration: none;
          color: #ddd; }
    html header nav.nav-open {
      right: 0; }
    html .wrap .home h1 {
      font-size: 4rem; }
      html .wrap .home h1 span {
        margin: 45px auto auto auto; }
      html .wrap .home h1 span:nth-of-type(1) {
        width: 203px;
        height: 40px; }
      html .wrap .home h1 span:nth-of-type(2) {
        width: 203px;
        height: 40px; }
      html .wrap .home h1 span:nth-of-type(3) {
        width: 206px;
        height: 50px; }
    html .wrap .home h3 {
      width: 245px;
      height: 21px;
      font-size: 1.6rem;
      margin: 35px auto auto auto; }
    html footer {
      height: 600px;
      width: 100vw; }
      html footer .outer {
        width: 350px;
        height: 518px;
        margin-right: auto;
        margin-left: auto; }
        html footer .outer .fb-page {
          display: block;
          width: 325px;
          height: 432px;
          float: none;
          margin-right: auto;
          margin-left: auto; }
        html footer .outer nav {
          margin-top: 25px;
          margin-bottom: 0;
          display: block;
          float: none; }
          html footer .outer nav li:nth-of-type(1) {
            display: none; }
          html footer .outer nav li:nth-of-type(2) {
            margin-right: 21px; }
          html footer .outer nav li {
            font-size: 1.5rem;
            display: inline-block; }
      html footer p {
        font-size: 1.4rem;
        width: 303px;
        height: 22px;
        margin: 40px auto 10px auto; } }
