html {
  font-size: 62.5%;

  header {
    position: absolute;
    height: 75px;
    z-index: 2;
    width: 100%;
    
    .logo_l {
      width: 394px;
      height: 40px;
      margin: 12px auto auto 15px;
    }

    .logo_s {
      width: 57.93px;
      height: 25px;
      margin: 21px auto auto 14px;
      display: none;
    }
    
    .btn-gnavi {
      display: none;
    }
    
    nav {
      float: right;
      margin-top: 25px;
      
      li {
        float: left;
        font-size: 2rem;
        list-style: none;
        margin-right: 25px;
        
        a {
          text-decoration: none;
          color: #68833e;
        }
      }
    }
  }
  
  main {
    padding-top: 100px;
    
    h2{
      font-size: 3rem;
      color: #68833e;
      margin-bottom: 6rem;
    }
    
    p {
      font-size: 2rem;
    }
    
    &.container {
      text-align: center;
      
      label {
        text-align: left;
      }
    }
  }

  .wrap {
    min-height: 500px;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/1853aaf44f70531e12ddef0979b344cd_m.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    background-color: gray;
    position: relative;
    top: 0;
    
    .container {
      margin-left: 0;
    }
    
    .home {
      padding-top: 82px;

      h1 {
        font-size: 8rem;
        
        @media screen and (max-width: 1000gpx) {
          font-size: 6rem;
      }
        
        span {
          display: block;
          height: 89px;
          width: 419px;
          margin: 36px auto auto 200px;
          
          @media screen and (min-width: 769px) and (max-width: 970px) {
            margin-left: 100px;
          }
        }
      }

      h3 {
        font-size: 2.5rem; 
        margin:36px auto auto 193px;
        
        @media screen and (min-width: 769px) and (max-width: 970px) {
          margin-left: 100px;
        }
      }
    }

    .arrow {
      animation: fluffy 3s linear infinite;
      display: block;
      width: 30px;
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      
      .arrow01 {
        display: block;
        width: 25px;
        height: 25px;
        border-top: solid 5px black;
        border-right: solid 5px black;
        -webkit-transform: rotate(45deg);
        transform: rotate(135deg);
        transform: rotate(45deg);
        -webkit-transform: rotate(135deg);
      }
    }

    @keyframes fluffy {
      0% { transform: translateY(0); -webkit-transform: translateY(0);}
      25% { transform: translateY(10px); -webkit-transform: translateY(10px);}
      50% { transform: translateY(20px); -webkit-transform: translateY(20px);}
      75% { transform: translateY(10px) ;-webkit-transform: translateY(10px)}
      100% { transform: translateY(0) ;-webkit-transform: translateY(0)}
    }
  }
  
  .video_frame {
    margin-top: 20vh;
    
    .video {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100vw;
      height: 70vh;
      
      @media screen and (min-width: 780px) {
        width: 780px;
        height: 500px;
      }
    }
  }
  //footer要素
  footer {
    margin-top: 144.89px;
    height: 450px;
    background-color: #3B4043;
    color: white;

    .outer {
      padding-top: 46px;
      margin: 0 auto auto auto;
      height: 300px;
      width: 800px;
      
      .fb-page {
        display: block;
        width: 361px;
        float: right;
        height: 207px;
        overflow: scroll;
      }
      
      nav {
        margin-bottom: 83px;
        display: block;
        float: left;

        
        li {
          list-style: none;
          font-size: 1.5rem;
          
          a {
            text-decoration: none;
            color: white;
          }
        }
        
        li:nth-of-type(1) {
          height: 21px;
          margin-bottom: 22px;
        }
        
        li:nth-of-type(2) {
          height: 21px;
          margin-bottom: 25px;
        }
        li:nth-of-type(3) {
          height: 21px;
        }
      }
    }

    p {
      font-size: 1.8rem;
      margin-top: 81px;
      margin-bottom: 36px;
      text-align: center;
    }
  }
  @media screen and (max-width:855px) {
    .wrap {
      .home {
        h1 {
          font-size: 4rem;
          
          span {
            margin: 45px auto auto auto;
          }
          
          span:nth-of-type(1) {
            width: 203px;
            height: 40px;
          }
          
          span:nth-of-type(2) {
            width: 203px;
            height: 40px;
          }
          
          span:nth-of-type(3) {
            width: 206px;
            height: 50px;
          }
        }

        h3 {
          width: 245px;
          height: 21px;
          font-size: 1.6rem;
          margin: 35px auto auto auto;
        }
      }
    }
  }
  @media screen and (max-width:800px) {
    header {
      .btn-gnavi {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 24px;
        z-index: 3;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-transition: all 400ms;
        transition: all 400ms;
        
        span {
          position: absolute;
          width: 30px;
          height: 4px;
          background: #666;
          border-radius: 10px;
          -webkit-transition: all 400ms;
          transition: all 400ms;
        }
        
        span:nth-child(1) {
          top: 0;
        }
        
        span:nth-child(2) {
          top: 10px;
        }
        
        span:nth-child(3) {
          top: 20px;
        }
      }
      
      .btn-gnavi.btn-open {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        
        span {
          background: #fff;
        }
      }
      
      .btn-gnavi.btn-open span:nth-child(1) {
        width: 24px;
        -webkit-transform: translate(-7px,17px) rotate(45deg);
        transform: translate(-7px,17px) rotate(45deg);
      }
      
      .btn-gnavi.btn-open span:nth-child(3) {
        width: 24px;
        -webkit-transform: translate(-7px,-17px) rotate(-45deg);
        transform: translate(-7px,-17px) rotate(-45deg);
      }
      
      nav {
        display: none;
        position: absolute;
        padding-top: 40px;
        top: -25px;
        right: 0;
        width: 200px;
        height: 100vh;
        min-height: 500px;
        background: rgba(33,33,33,.9);
        font-size: 16px;
        box-sizing: border-box;
        z-index: 2;
        
        ul li {
          padding: 20px 5px;
          
          a {
            text-decoration: none;
            color: #ddd
          }
        }
      }
      
      nav.nav-open {
        display: block;
      }
    }
  }
  @media screen and (max-width:768px) {
    header {
      .logo_l {
        display: none;
      }
      .logo_s {
        display: block;
      }
    }
    
    .wrap {
      .home {
        padding-top: 65px;
      }
      
      .arrow {
        bottom: 130px;
      }
    }

    footer {
       height: 600px;
       width: 100vw;

       .outer {
         width: 100%;
         height: 518px;
         margin-right: auto;
         margin-left: auto;

         .fb-page {
           display: block;
           width: 310px;
           height: 432px;
           float: none;
           margin-right: auto;
           margin-left: auto;
         }

         nav {
           margin-top: 25px;
           margin-bottom: 0;
           display: block;
           float: none;
           margin-left: auto;
           margin-right: auto;
           width: 320px;

           li:nth-of-type(1) {
             display: none;
           }
           
           li:nth-of-type(2) {
             margin-right: 21px;
           }

           li{
             font-size: 1.5rem;
             display: inline-block;
           }
         }
      }

      p {
        font-size: 1.4rem;
        width: 303px;
        height: 22px;
        margin: 40px auto 10px auto;
      }
    }
  }
}